<div class="center jumbotron">
  <h1>Bem vindo ao BitInvest</h1>

  <h2>
    O simulador de investimentos em cryptocoins
  </h2>

  <%= link_to "Cadastre-se já!", '#', class: "btn btn-lg btn-primary" %>
</div>
