<p>Olá <%= @user.name %>,</p>

<p>Para redefinir sua senha,clique <%= link_to "aqui", 
edit_password_reset_url(@user.reset_token,email: @user.email) %>.</p>

<p>
Esse link irá expirar em duas horas.Se você não requisitou a redefinição de sua 
senha, por favor ignore esse email e sua senha permanecerá como está.
</p>
