<footer class="footer">
  <small>
    BitInvest by <a href="https://www.linkedin.com/in/rodrigo-vasconcelos-de-barros-230653b3">
      Rodrigo Vasconcelos de Barros</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to t(:contact_link), contact_path %></li>
      <li><a href="#">Blog</a></li>
    </ul>
  </nav>
</footer>