<footer class="footer">
  <small>
    BitInvest by <a href="#">
      Rodrigo Vasconcelos de Barros</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to t(:contact_link), '#' %></li>
      <li><a href="#">Blog</a></li>
    </ul>
  </nav>
</footer>