<div class="center jumbotron">
	<h1><%= t :home_header %></h1>

	<h2>
		<%= t :home_subtext %>
	</h2>
	<%= link_to t(:signup_button), signup_path, class: "btn btn-md btn-primary" %>
	<%= link_to t(:login_link), signup_path, class: "btn btn-md btn-success" %>
</div>	