<div class="panel panel-default">
  <div class="panel-heading"> 
    <%= t(:quiz_available) %> 
  </div>
  <div class="panel-body">
    <%= link_to t(:quiz_button), quizzes_path, class: "btn btn-md btn-success" %>
  </div>
</div>